@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'poppins', sans-serif;
}

/* slide styles */
.slick-dots li {
  margin: 0px !important;
}

.slick-dots {
  bottom: 0px !important;
  padding: 35px !important;
  z-index: 99999999999999999999999999 !important;
  text-align: right !important;
}

.slick-dots li.slick-active button:before {
  color: #ffffff !important;
}

.slick-dots li button:hover {
  color: #ffffff !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
  color: #ffffff !important;
}

.slider-img {
  background: linear-gradient(180deg, #0000001f 30%, #29AB87 90%);
  opacity: 0.9;
  padding: 50px;
  width: 100%;
  color: white;
  border-radius: 10px;
}

.imgtext {
  padding-top: 400px;
  color: white;
}

.backgroundimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.homecardbackground {
background: linear-gradient(90deg, rgba(116,240,170,0.5) 0%, rgba(255,255,255,0.9922093837535014) 45%);
}
.homesecondcardbackground {
  background: linear-gradient(90deg, rgba(1,167,158,0.36) 30%, rgba(149,241,165,0.5832457983193278) 60%);
}